{% load staticfiles %}

<!DOCTYPE html>
<!-- 网站主语言 -->
{#<html lang="zh-cn">#}
<html lang="en">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!--layui-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!--layui-->
    <link rel="stylesheet" type="text/css" href="{% static 'res/layui/css/layui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'res/css/main.css' %}">
    <!--link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous"
    -->
</head>

<body>
    <!-- 引入导航栏 -->
    {% include 'header.html' %}

    <!-- 新增两个 div 容器 -->
    <div id="wrapper">
        {% block content %}{% endblock content %}
    </div>

    <!-- 增加样式 -->
    <!--style>
        html, body {
            height: 100%;
            margin: 0;
        }

        #wrapper {
            min-height: 100%;
            margin-bottom: -60px;
        }

        #footer,
        #push {
            height: 60px;
        }
    </style-->

    <!-- 预留具体页面的位置 -->
    {#% block content %#}{#% endblock content %#}
    <!-- 引入注脚 -->
    {% include 'footer.html' %}
    <!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
    <script src="{% static 'jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.3.1.js' %}"></script>


    <!--  注意模块用到了Jquery，因此要在Jquery后面引入 -->
    {#% include 'back_to_top_func.html' %#}

    <script src="{% static 'popper/popper-1.14.4.js' %}"></script>
    <!-- 引入bootstrap的js文件 -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- 引入layer.js -->
    <script src="{% static 'layer/layer.js' %}"></script>
    <script src="{% static 'csrf.js' %}"></script>



    <!-- 新增代码 -->
    {% block script %}
    <script>
        $(".django-ckeditor-widget").removeAttr('style');
    </script>
    {% endblock script %}



</body>

</html>



