<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}


<!-- 写入 base.html 中定义的 content -->
{% block content %}
<div class="banner">
    <div class="cont w1000">
      <div class="title">
        <h3>MY<br />BLOG</h3>
        <h4>well-balanced heart</h4>
      </div>
      <div class="amount">
        <p><span class="text">访问量</span><span class="access">1000</span></p>
        <p><span class="text">日志</span><span class="daily-record">1000</span></p>
      </div>
    </div>
  </div>


            <!-- 新增的目录 -->
              <div class="">
                  <h4><strong>目录</strong></h4>
                  <hr>
                  <div>
                      {{ toc|safe }}
                  </div>
              </div>


<div class="content">
    <div class="cont w1000">
      <div class="title">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="" class="active">设计文章</a>
          <a href="">前端文章</a>
          <a href="">旅游杂记</a>
          <a href="{% url 'articles:article_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}">
                最新
          </a>
          <a href="{% url 'articles:article_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}">
                最热
           </a>
        </span>
      </div>

<!--完整版面 start-->
      <div class="list-item">
                            {% for article in articles %}

          <!--文章部分-->
        <div class="item">

            <div class="layui-fluid">
            <div class="layui-row">

              <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">


                    <div class="img">
                          {% if article.avatar %}
                              <!--文章标题图-->
                                   <img src="{{ article.avatar.url }}"
                                       alt="avatar"
                                       style="max-width:100%; border-radius: 20px"
                                  >

                    </div>
                          {% endif %}
              </div>

               <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                 <div class="item-cont">
                    <span>
                      {% for tag in article.tags.all %}

                            <h5>
                                  <a href="{% url 'articles:article_list' %}?tag={{ tag }}"
                                     class="badge badge-secondary"
                                  >
                                      {{ tag }}
                                  </a>
                            </h5>
                      {% endfor %}

                    </span>
                    <!-- 标题 -->
                     <h3>
                          <a href="{% url 'articles:article_detail' article.id %}"
                             style="color: black;"
                          >
                              {{ article.title }}
                          </a><button class="layui-btn layui-btn-danger new-icon">new</button>
                      </h3>

              <!-- 摘要 -->
              <div>
                 <p style="color: gray;">
                  {{ article.body|slice:'100' }}...
                 </p>
              </div>
            <!-- 注脚 -->
          <p>
              <!-- 附加信息，增加了图标 -->
{#              <span>#}
{#                  <i class="fas fa-eye" style="color: lightskyblue;"></i>#}
{#                  {{ article.total_views }}&nbsp;&nbsp;&nbsp;#}
{#              </span>#}
              <span>
                  <i class="fas fa-comments" style="color: yellowgreen;"></i>
                  <!-- 修改为评论的计数 -->
                  评论数{{ article.comments.count }}&nbsp;&nbsp;&nbsp;
              </span>
              <span>
                  <i class="fas fa-clock" style="color: pink;"></i>
                  文章创建于{{ article.created|date:'Y-m-d' }}
              </span>
              <span style="color: green;">
                  共{{ article.total_views }}人 浏览&nbsp;&nbsp;&nbsp;
              </span>
{#              <span style="color: blue;">#}
{#                  {{ article.created|date:'Y-m-d' }} 发布&nbsp;&nbsp;&nbsp;#}
{#              </span>#}
              <span style="color: darkred;">
                  最新更新时间{{ article.updated|date:'Y-m-d' }}
              </span>
          </p>
{#          <div class="card-footer">#}
{#              <!-- 同样改写 href -->#}
              <a href="{% url 'articles:article_detail' article.id %}" class="btn btn-primary go-icon" >阅读本文</a>
{#          </div>#}
          <hr style="width: 100%;"/>
                             <div class="alert alert-success">
                <div>
                  作者：{{ article.author }}
                  {% if user == article.author %}
                      · <a href="#" onclick="confirm_delete()">删除文章</a>
                      · <a href="{% url "articles:article_update" article.id %}">
                          编辑文章
                      </a>
                  {% endif %}
                </div>
                <div>
                    浏览：{{ article.total_views }}
                </div>
            </div>
         <!--item到layui-col-xs12 layui-col-sm8 layui-col-md7 4个关闭标签 同时截止循环-->

          </div>
        </div>
      </div>
    </div>
    <br>
  {% endfor %}

<!--list-item-->
        <div id="demo" style="text-align: center;"></div>
    </div>
</div>



<!--完整版面 end-->

<!-- 页码导航 bootstrap样式 后续更改-->
<div class="pagination row">
  <div class="m-auto">
      <span class="step-links">
          <!-- 如果不是第一页，则显示上翻按钮 -->
          {% if articles.has_previous %}
              <a href="?page=1" class="btn btn-success">
                  &laquo; 1
              </a>
              <span>...</span>
              <a href="?page={{ articles.previous_page_number }}"
                 class="btn btn-secondary"
              >
                  {{ articles.previous_page_number }}
              </a>
          {% endif %}

          <!-- 当前页面 -->
          <span class="current btn btn-danger btn-lg">
              {{ articles.number }}
          </span>

          <!-- 如果不是最末页，则显示下翻按钮 -->
          {% if articles.has_next %}
              <a href="?page={{ articles.next_page_number }}"
                 class="btn btn-secondary"
              >
                  {{ articles.next_page_number }}
              </a>
              <span>...</span>
              <a href="?page={{ articles.paginator.num_pages }}"
                 class="btn btn-success"
              >
                  {{ articles.paginator.num_pages }} &raquo;
              </a>
          {% endif %}
      </span>
  </div>

{% endblock content %}